language: node_js

node_js:
  - "8"

dist: trusty
sudo: required
addons:
    sonarcloud:
        organization: "brennomilanezi-github"
        token:
            secure: f38656ed88d5a061447dbe17101fcab4503ea1b3


branches:
  only:
  - master
  - dev

install:
  - npm install

script:
  - npm build 
  - sonar-scanner

cache:
  directories:
    - node_modules
