language: node_js

dist: trusty

sudo: required

node_js:
  - "8"
jdk:
  - oraclejdk8
  
addons:
    apt:
      packages:
        - oracle-java8-installer 
    sonarcloud:
        organization: "brennomilanezi-github"
        token:
            secure: f38656ed88d5a061447dbe17101fcab4503ea1b3

before_script:
  - export JAVA_HOME=/usr/lib/jvm/java-8-oracle
  
branches:
  only:
  - master
  - dev
  
install:
  - npm install
  - npm install typescript

notifications:
  slack: bsi-ifserra:6akoTA2ECkSegyCvpmPaN0WO

before_install:
  - sudo apt-get install -y jq
  
install:
  - npm install
  - npm install typescript
   
script:
  - npm build 
  - sonar-scanner
    
notifications:
  slack: bsi-ifserra:6akoTA2ECkSegyCvpmPaN0WO
    
cache:
  directories:
    - node_modules
