<table class="table-perfil striped">
        <thead>
          <tr>
              <th>Código</th>
              <th>Produtos</th>
              <th>Situação</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>231</td>
            <td>Coxinha, Suco</td>
            <td>Em Andamento</td>
          </tr>
          <tr>
            <td>230</td>
            <td>Coxinha, Suco</td>
            <td>Finalizado</td>
          </tr>
          <tr>
            <td>229</td>
            <td>Coxinha, Suco</td>
            <td>Finalizado</td>
          </tr>
        </tbody>
      </table><br><br>